@font-face {
    font-family: 'Quicksand';
    src: url('font/Quicksand_Book.otf');
}
@font-face {
    font-family: 'Quicksand_oblique';
    src: url('Quicksand_Book_Oblique.otf');
}
@font-face {
    font-family: 'Quicksand_bold';
    src: url('font/Quicksand_Bold.otf');
}

:root{
    --colorh3 : rgba(12, 144, 177, 1);
}



h1,h2{
    color: rgba(0, 0, 0, 0.452);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

h3{
    color:var(--colorh3);
    margin-bottom: 16px;
}
h4{
    font-family: 'Quicksand_bold', Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}

strong{
    font-size: 22px;
    text-decoration: underline solid var(--colorh3) 2px;
}

li{
    list-style-type: none;
}
.tab{
    margin-right: 20px;
}
html {
    scroll-behavior: smooth;
    font-size: 16px;
}
body{
    display:flex;
    flex-direction: row;
    background-color: #f2f3f7;
    font-family: 'Quicksand', Helvetica, sans-serif;
    font-size: 1rem;
    text-align:justify;
    line-height: 22px;
    margin-top: 0px;
}
.burger {
    position: relative;
    display: none;
    float: right;
    width: 50px;
    height: 66px;
    cursor: pointer; 
    /* margin-left: auto;
    margin-right: 0; */
}
    .burger:after {
        content: '';
        position: absolute;
        display: block;
        width: 1rem;
        height: 0;
        top: 16px;
        left: 15px;
        box-shadow: 0 10px 0 1px black, 0 16px 0 1px black, 0 22px 0 1px black; 
    }

aside{
    display:flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    width:300px;
    height: 100%;
    position: fixed;
    background-color: #ffffff;
    margin-left: 15px;
    margin-top: 0px;
    margin-right: 40px;
    padding: 10px;
    box-shadow: 1px 0px 4px  rgba(0,0,0,0.3), -1px 0px 4px rgba(0,0,0,0.3);
}       
aside a{
    text-decoration: none;
    color:inherit;
}

.text-aside{
    text-align: center;
    font-size: 12px
}

nav{
    text-align: center;
    margin-left:-45px;
    line-height: 35px;
    font-size: 20px;
}
    nav a:visited{
        color: inherit;
    }
    nav a:hover{
        background-color: var(--colorh3);
        color: #fff;
    } 
nav a{
    display: block;
    width: 250px;
}

footer{
    font-size: 10px;
    padding: 10px;
}

.button-download-aside{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border:none 2px #000;
    box-shadow: 1px 0px 4px  rgba(0,0,0,0.8), -1px 0px 4px rgba(0,0,0,0.6); 
    margin-top: 20px;
}

#photo_aside{
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow:  1px 1px 6px rgba(0, 0, 0, 0.2);
}

#photo_aside-asi{
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 50px;
    border:none;
    border-width: 1px;
    border-color: #000;
    box-shadow:  1px 1px 6px rgba(0, 0, 0, 0.2);
}

#photo_aside-LISA{
    background-size: cover;
    width: 250px;
    height: 200px;
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 20px;
    border:solid;
    border-width: 4px;
    border-color: #ffffff;
    box-shadow:  0 2px 4px 0 rgba(0, 0, 0, 0.349);
    
}

.flex2{
    display:flex;
    justify-content: center;
    width: 100%;
    margin-left:335px;
    padding: 10px;
}

.flex3{  
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 60px;
}



section{
margin-bottom: 60px;
padding: 16px;
background-color: #ffffff;
width: 800px;
box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);         
}

section:hover{
    border-left: solid 4px var(--colorh3);  
} 

#bio-text{
    padding: 12px;
}

#cv div{
    margin-bottom: 40px;
}

    #job{
        margin-left: 36px;
    }

    #HSk{
        margin-left: 40px;
        font-family: 'Quicksand_bold';
    }

    #hard li{
        margin-bottom: 6px;
    }

    #SSk{
        margin-left: 40px;
        font-family: 'Quicksand_bold';
    }

    #flex-msc{
        display:flex;
        flex-direction: row;
    }

#flex-coord{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

#coord {
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;               
    border-width: 1px;
    margin-top: 20px;
    margin-right: 20px; 
    width: 250px;
    height: fit-content;
}

#coord legend{ 
    font-weight:normal;
}

#sendMail{
    display: flex;
    flex-direction: column;
    padding: 10px;
    line-height: 24px;
}
#sendMail input{
    margin-bottom: 14px;
}
textarea{
    display:block;
    resize:none;
    overflow: auto;
    margin-bottom: 8px;
}

.pdf-reader{
    display:flex;
    justify-content: center;
    width: 800px;
    height: 800px;  
    border: solid;
    border-width: 1px;
}
#download-asi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article{
    width:auto;
    background-color:#f2f3f7;
    padding: 24px;
    border: none 1px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.349);
    margin-bottom:20px;
}
article:hover{
    border-left: red 4px solid;
}
article a:visited{
    color:inherit;
}


article a{
    text-decoration: none;
}
#flex-publications{
    display:flex;
    flex-direction: column;
    padding: 25px;
}


@media screen and (max-width : 767px){
    aside{
        display: none;
    }
    .flex2{
        margin:0px;
    }
    .flex3{
        width: 100%;
        margin-top: 0;
    }
    section{
        width: 100%;
        text-align: center;
    }
    #flex-coord{
        flex-direction: column;
    }
    textarea{
        width: auto;
    }
    ul{
        padding:0;
    }
    .burger{
        display: block;
        
    }
    
}
@media screen and (min-width : 768px) and (max-width : 969px){
    aside{
        display: none;       
    }
    .flex2{
        margin:0px;
    }
    .flex3{
        width: auto;
        padding: 20px;       
    }
    section{
        width: 100%;
    }
}

@media screen and (min-width : 970px) and (max-width : 1199px){


    .flex3{
        width: auto;
        padding: 20px;
    }
    section{
        width: 100%;    
    }
} 


